{% extends 'templates/index.html' %}
{% load static %}
  {% block body %}
        <table>
          <tr>
            <th>Henry Uys</th>
            <th>Jari Salminen</th>
          </tr>
          <tr>
            <td>
              <img src="{% static "Content/Henry-Edit.jpg" %}" alt="Henry Uys" height="300" width="auto">
            </td>
            <td>
              <img src="{% static "Content/Jari-Edit.jpg" %}" alt="Jari Salminen" height="300" width="auto">
            </td>
            </tr>
            <tr>
              <td>
                  A relentless innovator, Henry Uys (pronounced "ace") has been creating and making for the past ten years. Cutting his teeth on building a CNC machine from scratch, this genuine Afrikaner has come by his mechanical genius honestly. That is to say, he hasn't given up yet.
              </td>
              <td>
                  After learning to walk, Jari Salminen's parents put him to work. Tiny hammer in one crisp paw, petit saw in the opposite, this child of the woods stopped at nothing to improve his craft. Still at it, he has decided to bring the public into the creative process.
              </td>
        </table>
  {% endfor %}
{% endblock %}